@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html{
    width: 100vw;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

.divTitulo{
    width: 100vw;
    margin-top: 0vh;
    display: flex;
}

.containerTitulo {
    width: 50vw;
    height: 13vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 11vh;
}
.containerTitulo h1{
    margin-top: 7vh;
    font-style: normal;
    font-weight: 700;
    font-size: calc(3em + 1vmin);
    line-height: 78px;
}

.containerTitulo h6 {
    font-style: normal;
    font-size: calc(0.60em + 1vmin);
    font-weight: 600;
}

.notificacoes {
    position: fixed;
    top: 8vh;
    left: 35vw;
}

.notificacoes img:nth-child(1) {
    position: fixed;
    width: 3vh;
    height: 3vh;
    top: 9vh;
    left: 32vw;
}

.notificacoes img:nth-child(1):hover {
    cursor: pointer;
}

.notificacoes img:nth-child(2) {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    background-color: white;
}

.notificacoes img:nth-child(2):hover {
    cursor: pointer;
}


/* Filtros de caixas*/

.filtroCaixas {
    margin-left: 9vw;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

#filtroData{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    
}

#filtroData button{
    width: 120px;
    height: 44px;
    background-color: #7D2DE2;
    font-size: calc(0.50em + 1vmin);
    color: #ffffff;
    border-radius: 7px; 
}

#filtroData button:hover{
    width: 120px;
    height: 44px;
    background-color: #7D2DE2;
    font-size: calc(0.50em + 1vmin);
    color: #ffffff;
    border-radius: 7px; 
}

.filtroCaixas h2 {
    color: #ffffff;
    padding: 4vh 1vw 0 0;
}

.filtroCaixas button {
    background: #ffffff;
    color: #7d2de2;
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.60em + 1vmin);
    outline: none;
    padding: 5px 10px;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 16px;
    width: 7vw;
}

.filtroCaixas button:hover {
    background-color: #7D2DE2;
    color: #FFFFFF;
    cursor: pointer;
}



.selecaoCaixas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    overflow-x: scroll;
}

.sessao_filtros{
    width: 40vw;
}

.sessao_filtros button {
    color: #7d2de2;
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.60em + 1vmin);
    outline: none;
    padding: 5px 10px;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 16px;
    width: 7vw;
}

.selecaoCaixas button {
    margin: 10px 5px 10px 0;
}

#input_data_nasc_func{
    margin:0 5px;
    font-size: 10px;
    width: 21vw;
    height: 40px;
    color: #ffffff;
    font-size: calc(0.50em + 1vmin);
    font-weight: normal;
    padding-right: 25px;
    background: url(../assets/img/pesquisarIcon.svg) no-repeat right;
    background-color: #000000;
    background-size: 20px;
    outline: none;
    border: 1px solid #7D2DE2;
    border-radius: 7px;
    padding: 10px;
    margin-right: 5px;
}




main{
    width: 100vw;
    margin-top: 2vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-evenly;
}


/* ESTILIZAÇÃO DA TABELA */

.tabelaHistorico{
    width: 89vw;
    height: 50vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: scroll;
    align-self: center;
    padding-right: 30px;
}




#historico{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

#historico div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#historico div h2{
    color: #7d2de2;
}
#historico div h4{
    color: #ffffff;
}

#status{
    width: 30px;
    height: 30px;
    background-color: #7d2de2;
    border-radius: 100%;
}

/* ESTILIZAÇÃO Filtro */

#filtro{
    width: 20vw;

}




/* efeito tolltip hover  */

