@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body,
html {
    width: 100vw;
    background-color: #000000;
}

.titulo {
    font-size: calc(2em + 1vmin);
}

p {
    font-style: normal;
    font-weight: 275;
    font-size: calc(0.35em + 1vmin);
    line-height: 21px;
}

b {
    color: #7D2DE2;
}

h1 {
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: normal;
    font-weight: 700;
    font-size: calc(3em + 1vmin);
    line-height: 78px;
    margin: 0;
    /* width: 800px; */
    align-self: flex-start;
    /* padding-top: 5vh; */
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.99em + 1vmin);
    font-size: 18px;
    line-height: 27px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.60em + 1vmin);
    line-height: 27px;
}

h6 {
    font-style: normal;
    font-size: calc(0.60em + 1vmin);
    font-weight: 600;
}

.body_dashboard {
    display: flex;
    padding-top: 3vh;
    width: 89vw;
    margin: 2vh auto;
    height: 76vh;
}

/* .body_dashboard .sessao_grafico_principal h1 {
    padding-top: 8vh;
} */

.sessao_grafico_principal {
    width: 50vw;
}

/*AQUI FICA O GRÁFICO DE BARRA */
.canvas_grafic_bar {
    margin-top: 5vh;
    width: 40vw;
    height: 50vh;
}

.container_title {
    margin-top: 2vh;
    width: 500px;
    height: 13vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.cardTitulo {
    width: 20vw;
    background-color: red;
}

.notificacoes {
    position: fixed;
    top: 8vh;
    left: 35vw;
}

.notificacoes img:nth-child(1) {
    position: fixed;
    width: 3vh;
    height: 3vh;
    top: 9vh;
    left: 32vw;
}

.notificacoes img:nth-child(1):hover {
    cursor: pointer;
}

.notificacoes img:nth-child(2) {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    background-color: white;
}

.notificacoes img:nth-child(2):hover {
    cursor: pointer;
}

/*COMECO SESSAO DOS FILTROS */
/* .body_dashboard .sessao_filtros{
    display: flex;
} */

.head_filtros {
    margin-left: 10vw;
    white-space: nowrap;
}

.head_filtros button {
    background: #ffffff;

}

.head_filtros button:hover {
    background-color: #7D2DE2;
    color: #FFFFFF;
    cursor: pointer;
}

.selecao_filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.selecao_filtro h2{
color: #ffffff;
}

.selecao_maquina {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    overflow-x: scroll;
}

.sessao_filtros{
    width: 40vw;
}

.sessao_filtros button {
    color: #7d2de2;
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.60em + 1vmin);
    outline: none;
    padding: 5px 10px;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 16px;
    width: 7vw;
}

.selecao_maquina button {
    margin: 10px 5px 10px 0;
}

.sessao_filtros h2 {
    padding: 5px 10px;
}


.container_cards {
    display: flex;
    margin-top: 2vh;
    justify-content: space-between;
}

.card {
    width: 19vw;
    height: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 16px;
}

 .card h2 {
    color: #7D2DE2;
    font-size: calc(2em + 1vmin);
}



/* GRAFICOS DAS DIREITA */

.canvas_grafic_rosca_container {
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #292929;
    margin-top: 4vh;
    border-radius: 16px;
}

.grafic_rosca_infos{
    width: 20vw;
    height: 29vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_grafico_rosca{
    /* width: 20vw; */
    /* height: 4vh; */
    margin-right: 2vw;
    margin-top: 1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

#cardCaixas{
    width: 20vw;
    height: 24vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: scroll;
}

#cardCaixas div{
    width: 6vw;
    height: 4vh;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    color: #ffffff;
}
#cardCaixas div div{
    width: 2vw;
    height: 4vh;
    margin-right: 4px;
    box-shadow: inset 0 0 1px 1px #000000;
}

.grafic_rosca{
    width: 13vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.effectlist:hover {
    color: #7D2DE2;
  }

/*---------------------------------*/





