@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    width: 100vw;
    background-color: #000000;
}

.titulo {
    font-size: calc(2em + 1vmin);
}

p {
    font-style: normal;
    font-weight: 275;
    font-size: calc(0.35em + 1vmin);
    line-height: 21px;
}

b {
    color: #7D2DE2;
}

h1 {
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: normal;
    font-weight: 700;
    font-size: calc(3em + 1vmin);
    line-height: 78px;
    margin: 0;
    /* width: 800px; */
    align-self: flex-start;
    /* padding-top: 5vh; */
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.90em + 1vmin);
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.99em + 1vmin);
    font-size: 18px;
    line-height: 27px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: calc(0.60em + 1vmin);
    line-height: 27px;
}

h6 {
    font-style: normal;
    font-size: calc(0.60em + 1vmin);
    font-weight: 600;
}

.body_dashboard {
    display: flex;
    padding-top: 5vh;
    width: 89vw;
    margin: 2vh auto;
    height: 76vh;
}

/* .body_dashboard .sessao_grafico_principal h1 {
    padding-top: 8vh;
} */

.sessao_grafico_principal {
    width: 50vw;
}

/*AQUI FICA AS ETIQUETAS */
.container_etiquetas {
    margin-top: 10vh;
    width: 66vw; /* Talvez seja necessario alterar essa linha no computador de quem vai apresentar !!!!!!!!!!!!*/
    height: 47vh;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.container_etiquetas .card_etiqueta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0 20px 20px 0;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 10px 12px;
    width: 18.4vw;
    height: 40vh;

    font-family: poppins;
    font-weight: 300;
    font-size: 12px;
}

.card_etiqueta h2 {
    margin: 3vh 0;
}

.container_title {
    width: 500px;
    height: 13vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.cardTitulo {
    width: 20vw;
    background-color: red;
}

.notificacoes {
    position: fixed;
    top: 8vh;
    left: 35vw;
}

.notificacoes img:nth-child(1) {
    position: fixed;
    width: 3vh;
    height: 3vh;
    top: 9vh;
    left: 32vw;
}

.notificacoes img:nth-child(1):hover {
    cursor: pointer;
}

.notificacoes img:nth-child(2) {
    width: 6vh;
    height: 6vh;
    border-radius: 100%;
    background-color: white;
}

.notificacoes img:nth-child(2):hover {
    cursor: pointer;
}


/*COMECO SESSAO HELP */

.sessao_help {
    display: flex;
    width: auto;
    margin-left: auto;
    justify-content: end;
}

#card_help {
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: poppins;
    font-weight: 300;
    font-size: 14px;

    margin-bottom: 5px;
}

#card_help h3 {
    color:#7D2DE2;
}

#card_help .img_duvida {
    height: 40vh;
}

#card_help .btn_suporte {
    background-color: #000000;
    border-radius: 100px;
    cursor: pointer;
}

#landbotChat{
    width: 12vw;
    height: 11vh;
    background: #7D2DE2;
    color: #ffffff;
    border-radius:24px;
    border-color: transparent;
    font-size:calc(0.75em + 1vmin);
}

#landbotChat:hover{
    background: #6019b8;
    cursor: pointer;
}

.card_etiqueta h2 {
    color: #000000;
}


.card_etiqueta:hover {
    transition: 0.5s;
    background: #c8c8c8;
    cursor: pointer;
}

.effectlist:hover {
    color: #7D2DE2;
  }

.modalBody {
    display: none;
}

.corpoModalEtiqueta {
    margin: 1vh 0;
    height: 50vh;
    overflow-x: auto;
    margin-left: 2.1vh
}

.corpoModalEtiqueta p {
    font-size: 14px;
    color: #000000;
    font-weight: 300;
}

.modalCheck {
    display: flex;
    justify-content: end;
}

.modalBody h6 {
    margin-top: 1vh;
}

.container_informacoes_etiqueta {
    display: flex;
    flex-direction: column;
    /* width: 94%; */
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 4%;
  }

.container_informacoes_etiqueta h6 {
    font-style: normal;
    font-size: calc(0.5em + 1vmin);
    font-weight: 600;
}


