body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background-color: #FFFFFF;
    overflow-y: hidden;
}

.login {
    padding-top: 3%;
    display: flex;
    justify-content: center;
    height: 94%;
}

.login .container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.carrossel  {
    width: 39%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 8%;
    padding-left: 2%;
    padding-right: 2%;
}
.row {
    width: 40%;
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.carrosselButton1 {
    padding: 7% 7%;
    border-color: #000;
    border-width: 1px;
    background-color: transparent;
    border-radius: 48px;
}

.form {
    width: 58%;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.titulo {
    margin-top: 14%;
    margin-bottom: 10%;
}

.titulo h1 {
    text-align: left;
}

.titulo span {
    color: #7D2DE2;
}

.input_login {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.input_login label {
    font-size: 28px;
    color: #FFFFFF;
}

.input_login input {
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 9vh;
    color: #fff;
    background-color: transparent;
    text-align: center;
    margin-bottom: 2vh;
    border: 1px solid #7d2de2;
    outline: none;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.radio label {
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
}

#radio {
    display: none;
}

.radio-label::before {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.radio-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.50em + 1vmin);
    color: #fff;
}

.forgetPassword {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: calc(0.50em + 1vmin);
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.cadastroText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: calc(0.50em + 1vmin);
    color: #fff;
}

#radio:checked+.radio-label::before {
    background-color: #7D2DE2;
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.submit button {
    padding: 20px 100px;
    border-radius: 8px;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #7D2DE2;
    border: none;
}

.submit button:hover {
    cursor: pointer;
}

.cadastro {
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: calc(1.10em + 1vmin);
    line-height: 36px;
    color: #fff;
}