.modalBody {
    z-index: 3;
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(41, 37, 37, 0.4);
    transition: 0.3s;
}

.modalReadPlus {
    position: relative;
    width: 32%;
    border-radius: 10px;
    height: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid #E5E5E5;
    background-color: #FFFFFF;
    margin: auto;
    padding: 1vw 1vh;
    outline: 0;
    margin-top: 10vh;
}

.containerReadPlus {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 10vh;
}

.modalCheck {
    margin-top: 2vh;
    width: 3.6vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
    border-radius: 11px;
    margin-bottom: 20vh;
    margin-right: auto;
    margin-left: auto;
}

.modalBack {
    /* width: 2vw; */
    border-radius: 40px;
    height: 4vh;
    border: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: none;
}

span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    font-size: 18px;
    color: #54595E;
    margin-bottom: 1vh;
}

.button8 {
    width: 20vw;
    height: 8vh;
    margin-bottom: 3%;
    background-color: #7D2DE2;
    border-radius: 16px;
    border-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5vw;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: transparent;
    cursor: pointer;
}

